@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

.firstContent{
    margin-top: 100px;
}
a{
    text-decoration: none;
}

/* Le Style du menu de navigation... */

#conteneur{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    z-index: 10000;
}

#nav{
    width: 80vw;
    height: auto;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 5px 10px;
    background: #000
}

#slectOpt, #barsContent{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
#logoLibex{
    width: 85px;
    height: 45px;
    margin-right: 25px;
}
.btn{
    color: #fff;
    font-size: 15px;
    font-family: 'Outfit', Arial, sans-serif;
    margin-right: 25px; /* il faut supp */
}

.btn>a, .btn>p{
    color: #fff;
    font-size: 15px;
    font-family: 'Outfit', Arial, sans-serif;
}

#btnMore{
    position: relative;
}

#btnMore-Content{
    display: none;
    position: absolute;
    background-color: #000;
}

#btnMore-Content>a{
    width: 150px; /* il faut 100% */
    height: auto;
    padding: 15px;
    text-decoration: none;
    font-family: 'Outfit', Arial, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}

#btnMore-Content>a:hover, .btn:hover>a, .btn:hover>p{
    color: #f5deb3;
    font-size: 20px;
    font-weight: 500;
}

#btnMore:hover #btnMore-Content{
    display: flex;
    flex-flow: column nowrap;
}

#more{
    width: 15px;
    height: 15px;
}


#profilpic>a>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#profilpic{
    position: relative;
    align-content: flex-end;
}

#bars>i{
    display: none;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

/* Le style du pied de page */

#footer{
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    font-family: 'Outfit', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;

}

h5{
    font-size: 20px;
    font-weight: 500;
}

#socialnetworks{
    display: flex;
    flex-flow: column nowrap;
}
#social{
    display: flex;
    flex-flow: row nowrap;
}

i, #contact>a, #socialnetworks>i{
    margin: 5px 5px;
    color: #fff;

}

#social>i:hover, #contact>a:hover{
    color: wheat;
    font-weight:400;
}


@media screen and (max-width:800px){
    #footer{
        flex-flow: column nowrap;
        align-items: center;
        box-sizing: border-box;
    }

    #contact, #socialnetworks{
        width: 50vw;
        margin: 5px 0;
    }

    #nav{
        width: 100vw;
        height: auto;
        box-sizing: border-box;
        margin: 0;
        padding: 5px 15px;
        position: initial;
    }

    .btn{
        margin-right: 0;
        margin-bottom: 10px;
    }

    #bars{
        width: 10vw;
        height: 100%;
    }

    #bars>i, #bars{
        display: flex;
    }

    #barsContent{
        display: none;
        text-align: center;
    }
    #bars:hover>i{
        color: #f5deb3;
    }


    #bars:hover #barsContent, #barsContent:hover{
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color: #000;
        width: 100vw;
        height: auto;
        right: 0vw;
        top: 5vh;
    }

    #btnMore{
        width: 100vw;
        text-align: center;
    }

    #btnMore:hover #btnMore-Content{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100vw; 
        height: auto;
        right: 0vw;
    }

    #btnMore-Content>a{
        width: 100%;
    }
    
}

